<a href="https://colab.research.google.com/github/nachodejuan/50-days-of-data-analysis/blob/main/Day_8_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Slicing Numpy Arrays**

1. Create a one-dimensional array with random integers
between 0 and 20. The size of the array is 10. Ensure that the results are reproducible.

In [9]:
import numpy as np

# Create a random number generator
rng = np.random.default_rng(seed=24)

# Generate random integers from 0 to 20
arr1 = rng.integers(low=0, high=21, size=(10))
arr1

array([ 8,  6, 15,  8, 16, 12,  2, 10,  8, 11])

2. Using slicing, create a subset array of 3 integers from the array you created in question 1. The first integer is at index 2, the second integer is at index 4, and the third index is at index 7.

In [6]:
arr2 = np.array([arr1[2], arr1[4], arr1[7]])
arr2

array([15, 16, 10])

3. Create a two-dimensional array from the list below. Check the dimensions and shape of your array.

        My_list = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10],
        [11, 12, 13, 14, 15]]

Using slicing, write a code to access the numbers 3, 8, and 13. Your code should return [3, 8, 13].

In [10]:
# Define the list
My_list = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10],
[11, 12, 13, 14, 15]]

# Create the array
arr3 = np.array(My_list)
arr3

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [12]:
arr4 = np.array([arr3[0,2], arr3[1,2], arr3[2,2]])
arr4

array([ 3,  8, 13])

4. Create a three-dimensional array from the nested list below:

        list1 = [[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10],
                [11, 12, 13, 14, 15]]]

Using slicing, write code that creates a sublist from the array you created. Your code should return an array of numbers (4, 8, and 15).

In [13]:
# Define the list
list1 = [[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10],
          [11, 12, 13, 14, 15]]]

# Create the new array
arr5 = np.array(list1)
arr5

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10],
        [11, 12, 13, 14, 15]]])

In [15]:
arr6 = np.array([arr5[0,0,3], arr5[0,1,2], arr5[0,2,4]])
arr6

array([ 4,  8, 15])